# Google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_GEMINI_API_KEY=""
GOOGLE_GEMINI_MODEL=""

# OpenAI
OPENAI_API_KEY=""
OPENAI_MODEL=""

# Next
NEXTAUTH_SECRET=""

# Redis
REDIS_DATABASE_URL=""

# firebase
GOOGLE_FIREBASE_TYPE=""
GOOGLE_FIREBASE_PROJECT_ID=""
GOOGLE_FIREBASE_PRIVATE_KEY_ID=""
GOOGLE_FIREBASE_PRIVATE_KEY=""
GOOGLE_FIREBASE_CLIENT_EMAIL=""
GOOGLE_FIREBASE_CLIENT_ID=""
GOOGLE_FIREBASE_AUTH_URI=""
GOOGLE_FIREBASE_TOKEN_URI=""
GOOGLE_FIREBASE_AUTH_PROVIDER_X509_CERT_URL=""
GOOGLE_FIREBASE_CLIENT_X509_CERT_URL=""
GOOGLE_FIREBASE_UNIVERSE_DOMAIN=""